{
  "name": "{{ .package_name }}",
  "version": "0.1.0",
  "description": "{{ .description }}",
  "main": "index.js",
  "bin": {
    "{{ .package_name }}": "./index.js"
  },
  "author": "{{ .author }}",
  "license": "MIT",
  "dependencies": {
    "commander": "^12.0.0"
  }
}
